/* General form styles */
.task-details-container {
    background-color: #f7f7f7;
    padding: 20px;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height for vertical centering */
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    flex: 1 1 45%; /* Adjust the width of each form group */
}

.form-group-full {
    flex: 1 1 100%; /* Full width for description and buttons */
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control, .form-select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

button.btn-primary {
    background-color: #007bff;
    color: white;
}

button.btn-secondary {
    background-color: #6c757d;
    color: white;
}

button:hover {
    opacity: 0.8;
}


.case-detail {
    margin-bottom: 15px;
}

    .case-detail strong {
        display: block;
        color: #6c757d;
    }

    .case-detail p {
        margin: 0;
        color: #343a40;
    }

