.card {
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 1.5rem;
}

.card-title {
    color: darkslategrey;
    font-size: 0.9rem;
    font-weight: normal;
    margin-bottom: 0;
}

.card-text {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1;
}

.card-icon-p {
    color: cadetblue;
    font-size: 2.5rem;
    opacity: 0.9;
}

.card-icon-r {
    color: red;
    font-size: 2.5rem;
    opacity: 0.9;
}

.card-icon-y {
    color: darkorange;
    font-size: 2.5rem;
    opacity: 0.9;
}

.card-icon-g {
    color: lawngreen;
    font-size: 2.5rem;
    opacity: 0.9;
}