@page "/firstregister"
<PageTitle>First Register</PageTitle>

@using LegalCaseManagement.Domain
@using LegalCaseManagement.Service
@using LegalCaseManagement.Data
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject IJSRuntime jstRuntime
@inject UserManager<ApplicationUser> _userManager
@inject SignInManager<ApplicationUser> _signInManager
@inject ISnackbar snackbar
@inject AppUserService userService
@inject IServiceScopeFactory ServiceScopeFactory
@inject EmailService emailService
@inject LawyerService lawyerService
@inject NavigationManager NavigationManager


<style>
    .registration-container {
        max-width: 600px;
        margin: 2rem auto;
        padding: 2rem;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .form-title {
        text-align: center;
        color: #333;
        margin-bottom: 2rem;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }

    .form-control {
        border-radius: 4px;
    }

    .btn-primary {
        width: 100%;
        padding: 0.75rem;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 4px;
    }
</style>

<div class="registration-container">
    <h2 class="form-title">Create Admin</h2>
    <EditForm Model="newUser" OnValidSubmit="AddNewUserWithRoles">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="row">
            <div class="col-md-6 form-group">
                <label class="form-label">First Name</label>
                <InputText class="form-control" placeholder="Enter First Name" @bind-Value="newUser.FirstNameUser" />
            </div>
            <div class="col-md-6 form-group">
                <label class="form-label">Last Name</label>
                <InputText class="form-control" placeholder="Enter Last Name" @bind-Value="newUser.LastNameUser" />
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">Email</label>
            <InputText class="form-control" placeholder="Enter Email Address" @bind-Value="newUser.LoginName" />
        </div>

        <div class="form-group">
            <label class="form-label">Phone Number</label>
            <InputText class="form-control" placeholder="Enter Phone Number" @bind-Value="newUser.Phone" />
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <label class="form-label">Country</label>
                <InputText class="form-control" placeholder="Enter Country" @bind-Value="newUser.CountryUser" />
            </div>
            <div class="col-md-6 form-group">
                <label class="form-label">City</label>
                <InputText class="form-control" placeholder="Enter City" @bind-Value="newUser.CityUser" />
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">Address</label>
            <InputText class="form-control" placeholder="Enter Address" @bind-Value="newUser.AddressUser" />
        </div>

        <div class="form-group">
            <label class="form-label">Password</label>
            <InputText type="password" class="form-control" placeholder="Enter Password" @bind-Value="newUser.LoginPassword" />
        </div>

        <div class="form-group">
            <label class="form-label">Role</label>
            <InputSelect class="form-control" @bind-Value="newUser.UserRole">
                @foreach (var role in selectList)
                {
                    <option value="@role.Value" selected="@role.Selected">@role.Text</option>
                }
            </InputSelect>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Create Account</button>
    </EditForm>
</div>

@code {
    private string searchString = "";
    User newUser = new User();
    List<Role> rolesList = new List<Role>();
    List<SelectListItem> selectList = new List<SelectListItem>();
    List<User> MyUser = new List<User>();
    List<ApplicationUser> userList = new List<ApplicationUser>();
    ApplicationUser appUsers = new ApplicationUser();
    private bool showModal = false;
    private List<IdentityRole> roles = new List<IdentityRole>();
    private IdentityRole newRole = new IdentityRole();
    private IdentityRole editRole = new IdentityRole();
    private MudForm form;
    private bool isEditDialogOpen = false;
    private List<Lawyers> lawyersList = new List<Lawyers>();

    private bool Search(ApplicationUser applicationUser)
    {
        if (string.IsNullOrWhiteSpace(searchString)) return true;
        if (applicationUser.UserName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        return false;
    }

    private void NavigateToEditLawyerPage(string lawyerId)
    {
        NavigationManager.NavigateTo($"/editlawyer/{lawyerId}");
    }

    private bool Searchrec(Lawyers lawyer)
    {
        if (string.IsNullOrWhiteSpace(searchString)) return true;
        if (lawyer.FirstName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        return false;
    }

    private void NavigateToEditPage(string userId)
    {
        NavigationManager.NavigateTo($"/edit/{userId}");
    }

    public void Update(ApplicationUser userRecord)
    {
        ToggleModal();
        appUsers = userRecord;
        StateHasChanged();
    }

    private async Task DeleteLawyer(Lawyers lawyer)
    {
        bool confirmDelete = await jstRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete this lawyer?");
        if (confirmDelete)
        {
            var result = await lawyerService.DeleteAsync(lawyer);
            if (result)
            {
                lawyersList.Remove(lawyer);
                snackbar.Add("Lawyer was removed successfully", Severity.Success);
                StateHasChanged();
            }
            else
            {
                snackbar.Add("Failed to remove lawyer", Severity.Error);
            }
        }
    }

    private List<ApplicationUser> GetAll()
    {
        userList = userService.GetAll();
        return userList;
    }

    private void ToggleModal()
    {
        newUser = new User();

        showModal = !showModal;
        if (!showModal)
        {
            newUser = new User();
        }
    }


    //delete method (user rec)
    private async Task DeleteRec(ApplicationUser rec)
    {
        bool confimUserRemoval = await jstRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to Remove user ?");
        if (confimUserRemoval)
        {
            userService.Delete(rec);
            userList = await GetAllClients();
            await jstRuntime.InvokeVoidAsync("alert", "User Removed succefully");

        }
    }
    protected override async Task OnInitializedAsync()
    {
        await LoadUsersAndRoles();
        userList = await GetAllClients();
        lawyersList = await lawyerService.GetAllAsync();

        rolesList = new List<Role>()
    {
        new Role(){RoleName = "Admin", ID = "1"},
        new Role(){RoleName = "Team", ID = "2"},
        new Role(){RoleName = "Client", ID = "3"}
    };

        selectList = rolesList.Select(role => new SelectListItem()
            {
                Text = role.RoleName,
                Value = role.ID,
                Selected = role.RoleName == "Client"
            }).ToList();

        // to ensure at least one role is selected when my list is empty i set the first Role on the list

        if (!selectList.Any(item => item.Selected))
        {
            var firstItem = selectList.FirstOrDefault();
            if (firstItem != null)
            {
                firstItem.Selected = true;
            }
        }
    }

    private async Task<List<ApplicationUser>> GetAllClients()
    {
        var allUsers = await userService.GetAllAsync();

        var clients = new List<ApplicationUser>();
        foreach (var user in allUsers)

        {
            if (await _userManager.IsInRoleAsync(user, "Client"))
            {
                clients.Add(user);
            }
        }
        return clients;
    }

    private async Task LoadUsersAndRoles()
    {
        try
        {
            using (var scope = ServiceScopeFactory.CreateScope())
            {
                var roleManager = scope.ServiceProvider.GetRequiredService<RoleManager<IdentityRole>>();
                // Fetch roles here
                roles = roleManager.Roles.ToList();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception in LoadUsersAndRoles: {ex}");
            throw;
        }
    }

    private async Task SubmitForm()
    {
        using (var scope = ServiceScopeFactory.CreateScope())
        {
            var roleManager = scope.ServiceProvider.GetRequiredService<RoleManager<IdentityRole>>();
            var result = await roleManager.CreateAsync(new IdentityRole(newRole.Name));
            if (result.Succeeded)
            {
                roles.Add(new IdentityRole { Name = newRole.Name, NormalizedName = newRole.Name.ToUpper() });
                newRole = new IdentityRole();
                snackbar.Add("The Role Was Added Successfuly", Severity.Success);
            }
            else
            {
                Console.WriteLine("Error creating role.");
            }
        }
    }

    private async Task EditRole(IdentityRole role)
    {
        editRole = role;
        isEditDialogOpen = true;

    }
    private async Task SaveEdit()
    {

        using (var scope = ServiceScopeFactory.CreateScope())

        {

            var roleManager = scope.ServiceProvider.GetRequiredService<RoleManager<IdentityRole>>();

            var role = await roleManager.FindByIdAsync(editRole.Id);
            if (role != null)
            {
                role.Name = editRole.Name;
                var result = await roleManager.UpdateAsync(role);
                if (result.Succeeded)
                {
                    var roleIndex = roles.FindIndex(r => r.Id == role.Id);

                    if (roleIndex != -1)

                    {
                        roles[roleIndex].Name = role.Name;

                        roles[roleIndex].NormalizedName = role.NormalizedName;


                    }
                    isEditDialogOpen = false;
                    editRole = null;

                }
                else
                {
                    Console.WriteLine("Error updating role.");
                }
            }
        }
    }

    private void CloseEditDialog()
    {
        isEditDialogOpen = false;
        editRole = null;
    }

    private async Task DeleteRole(IdentityRole role)
    {
        bool comfirmDelete = await jstRuntime.InvokeAsync<bool>("comfirm", "Are you sure you want to delete rRole ?");
        if (comfirmDelete)
        {
            using (var scope = ServiceScopeFactory.CreateScope())
            {
                var roleManager = scope.ServiceProvider.GetRequiredService<RoleManager<IdentityRole>>();
                var result = await roleManager.DeleteAsync(role);
                if (result.Succeeded)
                {
                    roles.Remove(role);
                    snackbar.Add("Role was Removed", Severity.Error);
                }
                else
                {
                    Console.WriteLine("Error deleting role.");
                }
            }
        }
    }

    public async void AddNewUserWithRoles(EditContext context)
    {
        var usermodel = context.Model as User;
        var passwordHash = _userManager.PasswordHasher.HashPassword(null, usermodel.LoginPassword);
        var user = new ApplicationUser
            {
                UserName = usermodel.LoginName,
                Email = usermodel.LoginName,
                EmailConfirmed = true,
                PhoneNumber = usermodel.Phone,
                City = usermodel.CityUser,
                Country = usermodel.CountryUser,
                Address = usermodel.AddressUser,
                FirstName = usermodel.FirstNameUser,
                LastName = usermodel.LastNameUser,
                PasswordHash = passwordHash
            };

        try
        {
            var result = await _userManager.CreateAsync(user, usermodel.LoginPassword);
            if (result.Succeeded)
            {
                var getRoleFromList = rolesList.FirstOrDefault(x => x.ID == usermodel?.UserRole);
                var roleAddedResult = await _userManager.AddToRoleAsync(user, getRoleFromList?.RoleName ?? "Client");

                if (roleAddedResult.Succeeded)
                {
                    snackbar.Add("User was added successfully with role", Severity.Success);
                    newUser = new User();
                    ToggleModal(); 
                    return;
                }
                else
                {
                    snackbar.Add("Failed to assign role to user", Severity.Error);
                }
            }
            else
            {
                foreach (var error in result.Errors)
                {
                    snackbar.Add($"Error: {error.Description}", Severity.Error);
                }
            }
        }
        catch (Exception ex)
        {
            await jstRuntime.InvokeVoidAsync("console.error", ex.Message);
            snackbar.Add("An error occurred during user creation. Please try again later.", Severity.Error);
        }
    }


}
