<AuthorizeView>
    <Authorized>
        <MudFab Href="Identity/Account/Manage"
                   StartIcon="@Icons.Material.Filled.Person"
                   Color="Color.Primary" Size="Size.Small">
                  
        </MudFab>
        <MudTooltip Text="Logout">
            <form method="post" action="Identity/Account/LogOut" style="display: inline;">
                <button type="submit" class="nav-link btn btn-link" style="padding: 0; border: none; background: none; cursor: pointer;">
                    <MudIcon Icon="@Icons.Material.Filled.Logout" />
                </button>
            </form>
        </MudTooltip>
    </Authorized>
    <NotAuthorized>
        <MudButton Href="Identity/Account/Login"
                   StartIcon="@Icons.Material.Filled.Login"
                   Color="Color.Primary"
                   Variant="Variant.Filled">
            Login
        </MudButton>
    </NotAuthorized>
</AuthorizeView>