<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LCMS</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass " @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView Roles=" Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="dashboard">
                        <i class="bi bi-border-all icon-spacing" aria-hidden="true"></i> DashBoard
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles=" Team">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="lawyerdashboard">
                        <i class="bi bi-border-all icon-spacing" aria-hidden="true"></i> DashBoard
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles=" Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <i class="bi bi-people-fill icon-spacing" aria-hidden="true"></i> User Management
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles=" Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="advocates">
                        <i class="bi bi-mortarboard-fill icon-spacing" aria-hidden="true"></i> Advocates
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Client, Admin, Team">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="appointments">
                        <i class="bi bi-chat-fill icon-spacing" aria-hidden="true"></i> Appointments
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Client">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="myassignedcases">
                        <i class="bi bi-hammer icon-spacing" aria-hidden="true"></i>Cases
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Team, Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="cases">
                        <i class="bi bi-hammer icon-spacing" aria-hidden="true"></i> Cases
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Team">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="myassignedtasks">
                        <i class="bi bi-list-task icon-spacing" aria-hidden="true"></i> Assigned Tasks
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="assigntask">
                        <i class="bi bi-list-task icon-spacing" aria-hidden="true"></i> Tasks
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle"  id="settingsDropdown" role="button" @onclick="ToggleSettingsDropdown">
                            <i class="bi bi-gear-fill icon-spacing" aria-hidden="true"></i> Settings
                        </a>
                        <div class="dropdown-menu @(showSettingsDropdown ? "show" : "")" aria-labelledby="settingsDropdown">
                            <NavLink class="dropdown-item nav-hover" href="settings">
                                <i class="bi bi-gear-fill icon-spacing" aria-hidden="true"></i> General Settings
                            </NavLink>
                            <NavLink class="dropdown-item" href="tasksetting">
                                <i class="bi bi-list-task icon-spacing" aria-hidden="true"></i> Task Settings
                            </NavLink>
                        </div>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Team, Client">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="notifications">
                        <i class="bi bi-bell-fill icon-spacing" aria-hidden="true"></i> Notifications
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="messages">
                        <i class="bi bi-activity icon-spacing" aria-hidden="true"></i> Activity
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="reports">
                        <i class="bi bi-file-fill icon-spacing" aria-hidden="true"></i> Reports
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private bool showSettingsDropdown = false;

    private void ToggleSettingsDropdown()
    {
        showSettingsDropdown = !showSettingsDropdown;
    }

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;



    private void ToggleNavMenu()

    {

        collapseNavMenu = !collapseNavMenu;

    }
}