<div class="sidebar @NavMenuCssClass">
    <nav class="flex-column">
        <div class="sidebar-header">
            <button title="Toggle menu" class="btn-toggle" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="dashboard">
                        <i class="bi bi-border-all icon-spacing" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Admin">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="counter">
                        <i class="bi bi-people-fill icon-spacing" aria-hidden="true"></i>
                            <span>User Management</span>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Admin">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="advocates">
                        <i class="bi bi-mortarboard-fill icon-spacing" aria-hidden="true"></i>
                            <span>Advocates</span>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Client, Admin, Team">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="appointments">
                        <i class="bi bi-chat-fill icon-spacing" aria-hidden="true"></i>
                            <span>Appointments</span>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Client">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="myassignedcases">
                        <i class="bi bi-hammer icon-spacing" aria-hidden="true"></i>
                            <span>Cases</span>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Team, Admin">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="cases">
                        <i class="bi bi-hammer icon-spacing" aria-hidden="true"></i>
                            <span>Cases</span>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Team">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="myassignedtasks">
                        <i class="bi bi-list-task icon-spacing" aria-hidden="true"></i>
                            <span>Tasks</span>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Admin">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="assigntask">
                        <i class="bi bi-list-task icon-spacing" aria-hidden="true"></i>
                            <span>Tasks</span>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Team, Admin">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="earnings">
                        <i class="bi bi-wallet-fill icon-spacing" aria-hidden="true"></i>
                            <span>Earnings</span>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Admin">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="settings">
                        <i class="bi bi-gear-fill icon-spacing" aria-hidden="true"></i>
                            <span>Settings</span>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Admin">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="tasksetting">
                        <i class="bi bi-list-check icon-spacing" aria-hidden="true"></i>
                            <span>Task Setting</span>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Client, Team">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="notifications">
                        <i class="bi bi-bell icon-spacing" aria-hidden="true"></i>
                            <span>Notifications</span>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Admin">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="messages">
                        <i class="bi bi-activity icon-spacing"></i>
                            <span>Logs</span>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </nav>
    </div>

@code {
    private bool isCollapsed = false;
    private string NavMenuCssClass => isCollapsed ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        isCollapsed = !isCollapsed;
    }
}
